/*
#D79900
#91B4DE
#688DE0

#FFF2BA
#DFEAF8
*/
#lhPlate {
    width: 400px;
    position: absolute;
    background-color: #688DE0;
    display: none;
    border-spacing: 2px;
    z-index: 5000;
    background-color: #688DE0;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/***********************************************************
    Global Styles
***********************************************************/
#lhPlate DIV {
    vertical-align: middle;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#lhPlate INPUT {
    padding: 1px;
    margin: 0px;
}
#lhPlate INPUT, #lhPlate SELECT {
    border-radius: .25em;
    -moz-border-radius: .25em;
    -webkit-border-radius: .25em;
    border: 1px solid #111;
    box-shadow: 0px 0px 0px 0px #000000;
    -moz-box-shadow: 0px 0px 0px 0px #000000;
    -webkit-box-shadow: 0px 0px 0px 0px #000000;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#lhPlate LABEL, #lhPlate INPUT, #lhPlate SELECT {
    margin: 0px;
}
#lhPlate .lhFont {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 8pt;
    letter-spacing: 0.00em;
    color: #222;
}
#lhPlate .lhSmFont {
    font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
    font-size: 7pt;
    letter-spacing: -0.02em;
    color: #222;
}
.lhRndCorners {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.lhPlateColor {
    background-color: #DFEAF8;
    border-color: #688DE0;
}
.lhBtn {
    cursor:pointer;
    cursor:hand;
    font-weight: bold;
    text-align: center;
    width: 14px;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.lhBtnOut {
    border: 1px solid #DFEAF8;
}
.lhBtnOver {
    border: 1px solid #000000;
}
.lhBtnOn {
    border:1px solid #CB5C16;
}
.lhCtrl {
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    display: table-cell;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/***********************************************************
    Targeted Styles
***********************************************************/
#lhTitlePanelPlate {
    display: table-row;
}
#lhTitlePanelPlate DIV {
    display: table-cell;
}
#lhTitlePanel {
    display: table-cell;
    width: 100%;
    padding: 0px 4px;
}
#lhBtnHelp {
    font-size: 8pt;
    font-weight: bold;
    text-align:center;
}
#lhBtnTags {
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
}
#lhCtrlLvlSelectPlate {
    padding-left: 5px;
    display: table-cell;
}
#lhLvlSelect {
    font-size: 7pt;
    width: 60px;
}
#lhCtrlLvlPlate {
    padding-left: 5px;
    display: table-cell;
}
.lhCtrlLvl {
    /* border: 1px #688DE0 solid; */
    margin: 0px !important;
    height: 18px;
}
#lhCtrlMsgDispModePlate {
    margin: 1px 0px 0px 7px;
}
#lhCtrlSearchPlate {
    display: table-cell;
    padding-left: 5px;
    text-align: right;
    height: 18px;
}
.lhDispModeLable {
    font-size: 7pt;
    font-weight: bold;
}
.lhSearchLabel {
    font-size: 7pt;
    font-weight: bold;
    text-align: right;
    display: inline;
    white-space: nowrap;
}
#lhSearchField {
    text-align: left;
    width: 100px;
    height: 18px;
    margin-left: 2px !important;
}
.lhTitleLeft {
    width: 20px;
}
.lhTitle {
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 0.0em;
    font-size: 8pt;
    font-weight: bold;
    width: 100%;
    padding-left: 5px;
    text-align: left;
}
.lhBtnCtrls {
    font-size: 8pt;
    font-weight: bold;
    text-align:center;
    white-space:nowrap;
    align: right;
}
.lhTitlePanelElmt {
    display: table-cell;
    height: .9em;
    line-height: 0.8em;
}
#lhHelpPanelPlate {
    display: table-row;
}
#lhHelpPanel {
    display: table-cell;
    width: 100%;
    padding: 0px 4px;
    text-align: left;
    vertical-align: text-top !important;
    height: 3em !important;
    line-height: 1.3em;
}
#lhCtrlPanelPlate {
    padding: 0px 4px;
    display: table-row;
    width: 100%;
    vertical-align: middle;
}
#lhCtrlPanel {
    display: table-cell;
    width: 100%;
    padding: 0px 4px;
    line-height: .8em;
}
#lhCtrlMsgDispModeBtn {
    margin-left: 5px;
}
#lhTagCtrlPanelPlate {
    display: table-row;
    width: 100%;
    padding: 2px;
    text-align: center;
}
#lhTagCtrlPanel {
    display: table-cell;
    width: 100%;
    padding: 0px 4px;
    line-height: .8em;
}
#lhTagCtrlPanelPlate SELECT {
    height: 60px;
}
#lhLogsPanelPlate {
    height: 75px;
    display: table-row;
    width: 100%;
    padding: 2px;
    text-align: center;
}
#lhLogsPanel {
    display: table-cell;
    width: 100%;
    padding: 0px 4px;
    line-height: .8em;
    background-color: #688DE0;
}
#lhLogsPanelBody {
    height: 75px;
    display: block;
    position: relative;
    overflow: visible;
    overflow-x: hidden;
    overflow-y: scroll;
}
#lhInterfaceBody {
    margin: 0px;
    padding: 0px;
}
.lhMsgPad {
    display: inline;
    padding: 5px;
}
.lhMsgRecDetail {
    padding: 0px;
    margin: 0px;
}
.lhMsgElmt {
    padding: 1px;
}
.logMsg .lhMsgNum2 {
    border-right: 1px #AAAAAA solid;
    white-space: nowrap;
}
.logMsg .lhMsgNum2 > DIV {
    width: 30px;
}
.logMsg .lhMsgNum {
    border-right: 1px #AAAAAA solid;
    width: 30px;
}
.logMsg .lhMsgLvl {
    border-right: 1px #AAAAAA solid;
    white-space: nowrap;
}
.logMsg .lhMsgLvl > DIV{
    width: 35px;
}
.logMsg .lhMsgTime {
    border-right: 1px #AAAAAA solid;
    white-space: nowrap;
}
.logMsg .lhMsgTags {
    width: 100%
}
.logMsg .lhMsgTags > TABLE {
    table-layout: fixed;
    width: 100%;
}
.logMsg .lhMsgTxt {
    width: 100%;
}
.logMsg .lhMsgTxtDetail {
    border-top: 1px #AAAAAA solid;
}
.logMsg .lhMsgTxtDetail > TABLE, .logMsg .lhMsgTxt > TABLE {
    table-layout: fixed;
    width: 100%;
}
.logMsg .lhMsgTxtDetail > TABLE TD, .logMsg .lhMsgTxt > TABLE TD {
    padding: 0px;
    line-height: 1.1em;
}
.logMsg {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    display: table;
    width: 100%;
}
.logMsg > table {
    border-spacing: 0px;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    width: 100%;
    table-layout: auto;
}
.logMsg TD {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    vertical-align: middle;
    padding: 3px 3px;
}
.lhFatalMsg {
    background-color: #FFBFFB;
}
.lhErrorMsg {
    background-color: #FFBFBF;
}
.lhWarnMsg {
    background-color: #FBFFBF;
}
.lhInfoMsg {
    background-color: #BFFFBF;
}
.lhDebugMsg {
    background-color: #BFFDFF;
}
.lhTraceMsg {
    background-color: #BFD7FF;
}
#lhAvailTagsPlate {
    display: table-cell;
    width: 150px;
    text-align: left;
}
#lhCtrlTagsPlate {
    display: table-cell;
    margin: 8px 3px 0px 3px;
    vertical-align: middle;
    width: 23px;
    text-align: center;
}
.lhTagCtrl {
    display: block;
    cursor: pointer;
    cursor: hand;
    margin: 0px auto;
}
#lhTagCtrlRem {
    margin-top: 2px;
}
#lhViewTagsPlate {
    display: table-cell;
    width: 150px;
    text-align: left;
}
#lhAvailTagsSelect {
    width: 150px;
}
#lhViewTagsSelect {
    width: 150px;
}
#lhModTagsPlate {
    display: table-cell;
    margin: 5px 3px 0px 3px;
    vertical-align: middle;
    width: 18px;
    text-align: center;
}
